body
{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.title
{
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: -20px;

    padding: 20px;
}

.title i
{
    color: white;

    text-decoration: none;
    font-size: 20px;
}

.body-content
{
    font-size: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.body-map iframe
{
    margin-right: 60px;
    height: 400px;
    width: 100%;
    padding-bottom: 25px;
}

.body-content
{
    color: red;
    font-weight: bold;

    font-size: 20px;

    height: 700px;

    padding: 20px;
}

.breakfast-menu
{
    display: grid;
    grid-template-columns: 1fr;

    width: 450px;
}

.lunch
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-wrapper
{
    background-color: black;
    color: white;
    font-size: 35px;

    padding: 25px;
    margin: -20px;

    display: flex;
    justify-content: center;
}