@media(max-width: 1600px)
{
    body
    {
        overflow-x: hidden;
        width: 1500px;
    }

    .title h1
    {
        padding: 0px 20px 0px 20px;
    }

    .title a
    {
        padding: 0px 20px 0px 20px;
    }

    .body-content
    {
        overflow-x:  hidden;
        width: 1500px;
        margin-left: -50px;
    }
}